.login-container {
  width: 30%;
  height: 60%;
  min-width: 400px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: center;
  background-color: #E0E1DD
}

.login-text {
  color: #E0E1DD;

}

.login {
  align-self: center;
  max-width: 100%;
  margin: 4px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: #E0E1DD
}

.image {
  margin: 6px;
  border: 1px solid black;
}


.submit {
  align-self: center;
  margin-top: 6px;
  background-color: #415a77;
  color: white;
  height: 5%;
  width:50%;
}

.footer {
  margin: 4px;
  font-size: 8px;
  color: gray;
}
